### INDICE
* [**1) Notebook**](#section_notebook)
* [**2) Import data**](#section_import)
* [**3) Validation**](#section_val)

# 0) Notebook <a id='section_notebook'></a>

In [4]:
#### Librer√≠as y modulos ####
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn
from pandas.io import gbq
from datetime import datetime
import warnings
import missingno as msno

In [5]:
#### Configuraciones de la notebook ####
#pd.set_option('display.max_columns', 500)
#pd.set_option('display.width', 1000)
pd.set_option('display.float_format', lambda x: '%.2f' % x)
warnings.filterwarnings("ignore")

In [6]:
#### Parametros de la notebook ####
path_save = '../datos/'
filter_date = str("2022-04-01")

# 1) Import data <a id='section_import'></a>

In [7]:
# Importar tabla de Big Query
query = "SELECT * FROM `data-team-k.pricing_data.match_meli_ok` WHERE date > '{}' ".format(filter_date)
df_meli = gbq.read_gbq(query, project_id="data-team-k")

In [8]:
# Descargarlo como pickle
fecha = datetime.today().strftime('%Y-%m-%d')
df_meli.to_pickle('{}df_meli_{}.pkl'.format(path_save,fecha))

In [9]:
# Upload del pickle
#df_meli = pd.read_pickle('{}df_meli_{}.pkl'.format(path_save,fecha))

In [10]:
df_meli.date.max()

Timestamp('2022-04-18 00:00:00')

# 2) Validation <a id='section_val'></a>

In [11]:
df_meli.shape

(822639, 42)

In [12]:
df_meli.isnull().sum()

runtime                  0
date                     0
timestamp                0
date_hour           822639
price_symbol             0
price_amount_txt         0
price_amount             0
car_year               475
car_kms_txt              0
car_kms                475
km                       0
car_title                0
car_location             0
car_location_0           0
car_location_1         831
car_link                 0
car_id                   0
year                     0
brand                    0
model                    0
version                  0
dealer                   0
match_marca_a         1011
score_marca_a         1011
match_modelo_a        1011
score_modelo_a        1011
match_v1_a            1011
score_v1_a            1011
total_score_a         1011
Seg_a                 1011
Subseg_a              1011
gama_a                1011
match_marca_c         1011
score_marca_c         1011
match_modelo_c        1011
score_modelo_c        1011
match_v1_c            1011
score_v1_c            1011
total_score_c         1011
Seg_c                 1011
Subseg_c              1011
gama_c                1011
dtype: int64

In [13]:
######### benchmark ########## (no correr este chunk)
df_meli.describe(percentiles=[0.1,0.25,0.5,0.75,0.90,0.99])

,price_amount,car_year,car_kms,year,score_marca_a,score_modelo_a,score_v1_a,total_score_a,score_marca_c,score_modelo_c,score_v1_c,total_score_c
count,822639.00,822164.00,822164.00,822639.00,821628.00,821628.00,821628.00,821628.00,821628.00,821628.00,821628.00,821628.00
mean,2736724.30,2015.27,87288.13,2015.27,99.60,97.98,85.88,84.07,99.60,96.60,88.85,85.73
std,2767996.07,4.26,124844.88,4.26,2.12,9.12,16.71,18.48,1.93,11.31,17.98,20.30
min,1850.00,2006.00,0.00,2006.00,33.00,0.00,0.00,0.00,50.00,0.00,0.00,0.00
10%,59800.00,2009.00,0.00,2009.00,100.00,95.00,61.00,60.00,100.00,90.00,67.00,55.80
25%,1350000.00,2012.00,27600.00,2012.00,100.00,100.00,77.00,75.00,100.00,100.00,82.00,80.00
50%,2230000.00,2016.00,80000.00,2016.00,100.00,100.00,90.00,89.24,100.00,100.00,100.00,92.00
75%,3550000.00,2019.00,126000.00,2019.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00
90%,5489900.00,2021.00,172000.00,2021.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00
99%,10500000.00,2021.00,297000.00,2021.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00
max,132000000.00,2021.00,15000000.00,2021.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00

In [14]:
########## corrida actual #########
df_meli.describe(percentiles=[0.1,0.25,0.5,0.75,0.90,0.99])

,price_amount,car_year,car_kms,year,score_marca_a,score_modelo_a,score_v1_a,total_score_a,score_marca_c,score_modelo_c,score_v1_c,total_score_c
count,822639.00,822164.00,822164.00,822639.00,821628.00,821628.00,821628.00,821628.00,821628.00,821628.00,821628.00,821628.00
mean,2736724.30,2015.27,87288.13,2015.27,99.60,97.98,85.88,84.07,99.60,96.60,88.85,85.73
std,2767996.07,4.26,124844.88,4.26,2.12,9.12,16.71,18.48,1.93,11.31,17.98,20.30
min,1850.00,2006.00,0.00,2006.00,33.00,0.00,0.00,0.00,50.00,0.00,0.00,0.00
10%,59800.00,2009.00,0.00,2009.00,100.00,95.00,61.00,60.00,100.00,90.00,67.00,55.80
25%,1350000.00,2012.00,27600.00,2012.00,100.00,100.00,77.00,75.00,100.00,100.00,82.00,80.00
50%,2230000.00,2016.00,80000.00,2016.00,100.00,100.00,90.00,89.24,100.00,100.00,100.00,92.00
75%,3550000.00,2019.00,126000.00,2019.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00
90%,5489900.00,2021.00,172000.00,2021.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00
99%,10500000.00,2021.00,297000.00,2021.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00
max,132000000.00,2021.00,15000000.00,2021.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00